.rojo{
    background-color: red;
    width: 200px;
    height: 300px;
    margin-bottom: 40px;
    padding: 50px;
    border: whitesmoke 10px dotted;
    box-shadow: 10px 10px 40px black;
}
.azul{
    background: rgb(9,167,224);
    background: linear-gradient(180deg, rgba(9,167,224,1) 0%, rgba(245,128,32,1) 100%);
    width: 200px;
    height: 300px;
    color: white;
    padding: 20px;
    border-radius: 60px 0px;
    
}

.btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.btn-grad {
   margin: 50%;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 50px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 