.row{
    background-color: red;
    text-align: center;
}
.first{
    background-color: lightgrey;
    text-align: center;
    
    height: 50px;
}
.imagen{
    max-height: 50px;
}
.col-6{
    background-color: lightsalmon;
    height: 50px;
   }
.second{
    background-color: lightseagreen;
    text-align: center;
}
.third{
    background-color: burlywood;
}

.accordion-body{
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: gray;
    color: white;
    text-align: center;
}